<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:test="http://study.yee.com/schema/bean/test"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://study.yee.com/schema/bean/test
        http://study.yee.com/schema/bean/test/test.xsd">

    <test:custom id="testCustom" name="this is a test custom tag" />

</beans>